<div class="col-12 col-md-10 col-lg-8 mx-auto">
    <h1 class="text-center fs-5 py-3"><%= page %> list</h1>
    <ul class="list-group">
        <% if(categories){  categories.forEach((category)=>{%> 
        <li class="list-group-item"><%= category.title %>  </li>
        <% })}else if(categories !== undefined){ %>
            <h1>No Items</h1>
        <% } %> 

        <% if(posts){  posts.forEach((post)=>{%> 
            <li class="list-group-item"><%= post.title %>  </li>
            <% })%>
                
            <%}else if(posts !== undefined){ %>
                <h1>No Items</h1>
        <% } %>  
    </ul>
</div>