<div class="col-12 col-md-10 col-lg-6 mx-auto">
    <form action="/admin/post" enctype="multipart/form-data" method="post" class="bg-danger bg-opacity-10 p-3">
        <div class="text-center card border-0 fs-3 p-2 bg-secondary bg-opacity-10">Create Post</div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Title</label>
          <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="input-group mb-3">
            <select name="category" class="form-select" id="inputGroupSelect02">
              <option selected>Choose...</option>
              <% if(categories){ categories.forEach((category)=>{ %> 
                <option value="<%= category.title %>"><%= category.title %></option>
              <% })} %> 
            </select>
            <label class="input-group-text" for="inputGroupSelect02">Options</label>
          </div>
          <div class="mb-3">
            <label for="formFile" class="form-label">Image</label>
            <input name="image" class="form-control" type="file" id="formFile">
          </div>
          <div class="form-floating">
            <textarea name="description" class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Descriptions</label>
          </div>
        
        <button type="submit" class="btn btn-primary bg-dark">Submit</button>
    </form>
</div>